@model HW5.Models.Customer

@{
    ViewBag.Title = "Create New Address";
}

<head>
    <link href="@Url.Content("~/Content/myStyles.css")" rel="stylesheet"/>
</head>


<div class="row margin-top">
    <!--Column Containing Form-->
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <form class="my-form">
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="image" src="@Url.Content("~/Content/dmv.png")" alt="image"/>
                        </div>
                        <div class="col-lg-9">
                            <h3><b>CHANGE OF ADDRESS NOTICE FOR DMV RECORDS</b></h3>
                        </div>
                    </div>
                    <ul>
                        <!--List Item containing NOTE for REQUIRED information-->
                        <li>
                            <h4><b>Note:</b> <b>ALL</b> information is <b>REQUIRED</b> to change your address.</h4>
                            <!--CustomerID # and DOB Section-->
                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.CustomerNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CustomerNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--Row for Last, First, and Middle names-->
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--New Residence Address section-->
                        <li>
                            <h4><b>NEW MAILING ADDRESS</b> (No Post Office Box Number or mail forwarding adress)</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.LabelFor(model => model.NewAddress, htmlAttributes: new { @class = "control-label", @id = "address-field" })
                                    @Html.EditorFor(model => model.NewAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.NewCity, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NewCity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewCity, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.LabelFor(model => model.NewState, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NewState, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewState, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelFor(model => model.NewZip, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NewZip, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewZip, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelFor(model => model.NewCounty, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NewCounty, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewCounty, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4><b>Please</b> enter date to confirm address change.</h4>
                            @Html.LabelFor(model => model.ChangeDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ChangeDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChangeDate, "", new { @class = "text-danger" })
                        </li>
                        <li>
                            <h4>Click SUBMIT button to send notice of address change></h4>
                            <input type="submit" value="SUBMIT" class="btn btn-default" />
                        </li>
                    </ul>
                </div>
            </form>
        }
    </div>
    <div class="col-lg-6">
        <!--Instructions Section-->
        <div class="row">
            <div class="col-lg-6">
                <p id="oregon-law-p">Oregon Law requires you to notify DMV of any change of address within 30 days.</p>

                <h3><b>INSTRUCTIONS:</b></h3>
                <ul>
                    <li><h4>Read the information on the back of this form.</h4></li>
                    <li><h4><b>Please PRINT.</b></h4></li>
                    <li><h4>You MUST include <b>all</b> information or DMV may not be able to update the address.</h4></li>
                    <li><h4>Remove the envolope where indicated below, place the address change form in the envelope and mail to : DMV, 1905 Lana Ave NE, Salem OR 97314</h4></li>
                </ul>
            </div>
        </div>
    </div>
</div>