@model IEnumerable<HW5.Models.Customer>

@{
    ViewBag.Title = "Change Requests";
}

<head>
    <link href="@Url.Content("~/Content/tableStyle.css")" rel="stylesheet" />
</head>

<h2><b>Address change requests</b></h2>
<br />
<div class="table-div">
    <!--table to display records in the database-->
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerNumber)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.DOB)</th>
            <th>@Html.DisplayNameFor(model => model.NewAddress)</th>
            <th>@Html.DisplayNameFor(model => model.NewCity)</th>
            <th>@Html.DisplayNameFor(model => model.NewState)</th>
            <th>@Html.DisplayNameFor(model => model.NewZip)</th>
            <th>@Html.DisplayNameFor(model => model.NewCounty)</th>
            <th>@Html.DisplayNameFor(model => model.ChangeDate)</th>
        </tr>

        <!--here we populate each row of the table from the database-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CustomerNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                <td>@Html.DisplayFor(modelItem => item.NewAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.NewCity)</td>
                <td>@Html.DisplayFor(modelItem => item.NewState)</td>
                <td>@Html.DisplayFor(modelItem => item.NewZip)</td>
                <td>@Html.DisplayFor(modelItem => item.NewCounty)</td>
                <td>@Html.DisplayFor(modelItem => item.ChangeDate)</td>
            </tr>
        }
    </table>
</div>
